### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea
build
venv
weekly_report_class.spec

./temp.py
/build/weekly_report_class/Analysis-00.toc
/build/weekly_report_class/base_library.zip
/.idea/codestream.xml
/build/weekly_report_class/EXE-00.toc
/.idea/misc.xml
/.idea/modules.xml
/build/weekly_report_class/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/build/weekly_report_class/PYZ-00.pyz
/build/weekly_report_class/PYZ-00.toc
/temp.py
/.idea/vcs.xml
/build/weekly_report_class/warn-weekly_report_class.txt
/build/weekly_report_class/weekly_report_class.exe.manifest
/.idea/weekly_report_class.iml
/build/weekly_report_class/weekly_report_class.pkg
/weekly_report_class.spec
/build/weekly_report_class/xref-weekly_report_class.html
